[submodule "parallel-programming/miniproject_1"]
	path = parallel-programming/miniproject_1
	url = git@github.com:Demner21/miniproject_1.git
[submodule "parallel-programming/miniproject_2"]
	path = parallel-programming/miniproject_2
	url = git@github.com:Demner21/miniproject_2.git
[submodule "parallel-programming/miniproject_3"]
	path = parallel-programming/miniproject_3
	url = git@github.com:Demner21/miniproject_3.git
[submodule "concurrent-programming/concurrent-s1"]
	path = concurrent-programming/concurrent-s1
	url = git@github.com:Demner21/concurrent-s1.git
